.background {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: #f6c142;
  font-size: 3rem;
  margin-bottom: 0.5rem !important;
}

.content {
  color: #fff;
  font-size: 1.7rem;
}

.grid {
  border: 2px solid #fff;
  padding: 2rem;
  height: 100%;
}

.section2 {
  margin-bottom: 1.45rem;

  .background2-1 {
    background-image: url("/img2-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem 2.5rem;

    .content {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5.3rem 2.2rem;
      font-size: 2.5rem;
      line-height: 1.2;
      border: 2px solid #fff;
    }
  }

  .background2-2 {
    background-image: url("/img2-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 150%;
  }
}

.section3 {
  margin-bottom: 1.45rem;

  .background3-1 {
    background-image: url("/img3-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }

  .background3-2 {
    background-image: url("/img3-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }

  .background3-3 {
    background-image: url("/img3-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
}

.section-text {
  border: 2px solid #fff;
  padding: 2rem;
  margin-bottom: 1.45rem;
}

.section4 {
  margin-bottom: 1.45rem;

  .background4 {
    background-image: url("/img4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 100%;
  }
}

.section5 {
  margin-bottom: 1.45rem;

  .img5-1 {
    background-image: url("/img5-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
  .img5-2 {
    background-image: url("/img5-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
  .img5-3 {
    background-image: url("/img5-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
}

.section6 {
  margin-bottom: 1.45rem;

  .img6-1 {
    background-image: url("/img6-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
  .img6-2 {
    background-image: url("/img6-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
  .img6-3 {
    background-image: url("/img6-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
}

.section7 {
  margin-bottom: 1.45rem;

  .img7-1 {
    background-image: url("/img7-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 160%;
  }
  .img7-2 {
    background-image: url("/img7-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
  .img7-3 {
    background-image: url("/img7-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 75%;
  }
}

.section8 {
  margin-bottom: 1.45rem;

  .img8-1 {
    background-image: url("/img8-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 70%;
  }
  .img8-2 {
    background-image: url("/img8-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 230%;
  }
}

.section-contact {
  border: 2px solid #fff;
  padding: 1rem;
  margin-bottom: 1.45rem;
  text-align: center;
  line-height: 1.2;

  .title {
    font-size: 3.5rem;
    margin-bottom: 0 !important;
  }

  .content {
    font-size: 3rem;

    & > a {
      color: #fff;

      &:hover {
        color: #ddd;
      }
    }
  }
}
